html body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffe897;
}

.navbar {
  background-color: #59442b !important;
}
/* Modify brand and text color */

.navbar-brand {
  color: #000000 !important;
}

.nav-link {
  color: #000000 !important;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  height: 3.5rem;
  width: 100%;
}

h1.text-center {
  margin-top: 40%;
  font-size: 45px;
  margin-bottom: 5%;
}

h1.quote  {
    margin-top: 15%;
    text-align: center;
    font-size:medium;
}

p.text-center {
  font-size: 18px;
}

button.btn {
  font-size: 17px;
  border: 50px black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: -30px;
  display: inline-block;
  position: relative;
}

/*
recipe.h1.text-center {
    margin-top: 10%;
}

h1.recipe {
    margin-top: 200px;
    position: relative;
}*/

#banner {
  background-color: #59442b;
  padding-top: 5%;
  padding-bottom: 5%;
}

#recipe {
  padding-top: 36%;
  text-align: center;
}

#select_pices {
  margin-top: 5%;
  font-size: 18px;
}

input {
  border: 0;
  width: 5%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.Recipe-IngredientList {
  width: 250px;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 5px;
  margin-top: 5px;
}
.Recipe-Ingredient {
  border-bottom: 1px solid black;
  padding: 5px 0;
}
.Recipe-Ingredient:last-child {
  border-bottom: none;
}
.Recipe-Ingredient span {
  font-weight: 600;
}

h4.step {
    text-align: center
}

p.card-text {
    text-align: center
}

.post {
    margin-top: 10%;
    margin-bottom: 10%;
}