html body {
    background-color: #FFE897;

}

.navbar { 
    background-color: #59442B; 
} 
/* Modify brand and text color */ 
  
.navbar-brand{ 
    color: #000000; 
} 

.nav-link{
    color: #000000;
}

