html body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFE897;
}

.navbar { 
    background-color: #59442B !important; 
} 
/* Modify brand and text color */ 
  
.navbar-brand{ 
    color: #000000 !important; 
} 

.nav-link{
    color: #000000 !important;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    height: 3.5rem;
    width: 100%;
  }

h1.text-center {
    margin-top: 40%;
    font-size: 65px;
}

p.text-center {
    font-size: 18px;
}

button.btn {
    font-size: 17px;
    border: 50px black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: -30px;
    ;
}

recipe.h1.text-center {
    margin-top: 100%;
}

h1.recipe {
    margin-top: 200px;
    position: relative;
}

#banner {
    background-color: #59442B;
    padding-top: 5%;
    padding-bottom: 5%;
}